#root {
  min-width: 100vw;
  margin: 0 auto;
  padding: 0;
  
}

.unavailable-day {
  background-color: rgba(169, 169, 169, 0.5); /* Color de fondo gris */
  pointer-events: none; /* Deshabilitar interacción */
}